<html xmlns:th="http://www.thymeleaf.org">

<body>

	<head>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.js"></script>
		<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/basic.css">
		<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.css">
		
		
	</head>



	<div th:if="${message}">
		<h2 th:text="${message}" />
	</div>

	<div >
		<form method="POST" class="dropzone" enctype="multipart/form-data" id="myId" action="/">
			<table>
				<tr>
					<td>File to upload:</td>
					<td><input type="file" name="file" /></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" value="Upload" /></td>
				</tr>
			</table>
		</form>

		<script>
			var myDropzone = new Dropzone("#myId", {autoProcessQueue:false});
		</script>

		<div>
			<ul>
				<li th:each="file : ${files}">
					<a th:href="${file}" th:text="${file}" />
				</li>
			</ul>
		</div>

</body>

</html>